body{
    position: relative; /* set a position to body to make footer position base on the body  */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #212534;
    margin: 0;
    min-width: 600px;
}

.headerContainer{
    display: flex;
    height: 100px;
    width: 100%;
    border: 5px solid transparent;
    background-color: #212529;
}

.profileDiv{
    height: calc(100%-10px);
    width: 100px;
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(
    var(--rotate),
    #ff5d5d,
    #e33c3c 43%,
    #c20000
  );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

.picDiv{
    height: 80px;
    width: calc(100%-10px);
    border-radius: 5px;
}
footer div{ /* set a position to body to make footer position base on the body  */
    color: wheat;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    padding-right: 10px;
    position: fixed;
    background-color: #212534;
    min-width: 600px;
}

.pic{
    width: 100%;
    height: 100%;  
}

.navDiv{
    position: relative;
    height: 100%;
    width: calc(100% - 100px);
    border: 5px solid transparent;
    border-radius: 5px;
    min-width: 300px;
}

.divSC{
    display: flex;
    position: absolute;
    right: 0;
}
.container{
    margin: 0;
}

.picHome{
  height: 70px;
  width: 70px;
  border: 2px solid black;
  border-radius: 5px;
}

.bodyMain{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70vh;
  width: 100%;
  padding: 5px;
  overflow: auto;
}

.bodyDiv{
  display: flex;
  padding-left: 25%;
  color: aliceblue;
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.2);
}
@media (max-width: 800px) {
  .bodyMain{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bodyDiv{
    width: 75%;
    padding-left: 20%;
    padding-right: 20%;
  }
}
.proDet{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.proDet p, .nxtprvDiv p, footer p{
  margin-bottom: 0;
}
.nxtprvDiv{
  display: flex;
  justify-content: end;
  margin-right: 5px;
  gap: 5px;
  position: absolute;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  padding: .25rem;
  min-width: 600px;
}

.nxtprvDiv div{
  border: 2px solid wheat;
  padding: 2px;
  border-radius: 5px;
  height: fit-content;
  background: #212534;
}
.nxtprvDiv div:hover{
  border: 2px solid #212534;
  background: #464f6e;
}
.liButton>a{
  color: white;
}
.liButton>a:hover{
  color: rgb(252, 2, 2);
}

h2{
  color: transparent;
  background: linear-gradient(
    270deg,
    #fa3030,
    #ff1616,
    #fb0101,
    #fa3030,
    #ff1616,
    #fb0101,
    #fa3030,
    #ff1616,
    #fb0101);
  background-clip: text;
  background-size: 200%;
  font-weight: bolder;
  text-align: center;
  animation: h2-bg 2.5s ease infinite;
}
@keyframes h2-bg{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 80%;
  }
}
.nxtprvDiv p{
  color: bisque;
}
.searchDiv{
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
label{
  color: rgb(250, 4, 4);
  text-align: center;
}

.contactDiv{
  min-height: calc(100vh - 130px);
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  text-align: left;
}

main{
  max-height: 100vh;
}